#-----------------------------------------
# name: dxstjpure
# desc: 大学搜题酱广告净化
# author: axkrr
#-----------------------------------------

[rewrite]
# 拦截初始化和弹窗接口
^https?:\/\/www\.daxuesoutijiang\.com\/init\/config\/(init|popupconfig) url script-response-body https://raw.githubusercontent.com/axkrr/slqhub-entry/main/dxstjpure.js

# 屏蔽广告统计与日志域名
^https?:\/\/stats\.cdnjtzy\.com\/stats\/PKD-DXST url reject-200
^https?:\/\/nlog\.daxuesoutijiang\.com\/log\/ url reject

# 屏蔽广告图片和WebP静态资源
^https?:\/\/zyb-(vip|stats)\.cdnjtzy\.com\/.*\.webp url reject-img

[mitm]
hostname = %APPEND% www.daxuesoutijiang.com, stats.cdnjtzy.com, nlog.daxuesoutijiang.com, zyb-vip.cdnjtzy.com
