# Name: dxstjpure
# Update: 2025-12-19

[rewrite]
^https?://adx\.zuoyebang\.com/adxserver/ad/adreq url script-response-body https://raw.githubusercontent.com/axkrr/slqhub/main/Surge/Module/JS/dxstj.js

[mitm]
hostname = %APPEND% adx.zuoyebang.com