#-----------------------------------------
# name: kkavpure
# desc: kkav净化
# author: axkrr
#-----------------------------------------

[rewrite_local]
^https?:\/\/.* url script-response-body https://raw.githubusercontent.com/axkrr/slqhub-entry/main/kkavpure.js

[mitm]
hostname = *