#-----------------------------------------
# name: kkavpure
# desc: kkav广告净化
# author: axkrr
#-----------------------------------------

[rewrite]
# 拦截获取广告接口
^https:\/\/www\.6633rr\.com\/api\/abd\/getabds url script-response-body https://raw.githubusercontent.com/axkrr/slqhub-entry/main/kkavpure.js

[mitm]
hostname = %APPEND% www.6633rr.com
