#-----------------------------------------
# name: qdpure
# desc: 去哒广告净化
# author: axkrr
#-----------------------------------------

[rewrite]
# 拦截广告配置接口
^https?:\/\/api\.shanghailingye\.cn\/ad\/map url script-response-body https://raw.githubusercontent.com/axkrr/slqhub-entry/main/qdpure.js

# 拦截广告图片资源
^https?:\/\/qudaapi\.8quan\.com\/index\/source\/show\?filepath=\/mnt\/Wmapp\/advertisement url reject-img

[mitm]
hostname = %APPEND% api.shanghailingye.cn, qudaapi.8quan.com
