[rewrite_local]
# > 屏蔽开屏及配置广告
^https?:\/\/yike\.baidu\.com\/api\/(operation\/splash|config|ad\/get) url script-response-body https://raw.githubusercontent.com/YourGitHub/rules/main/yike_pure.js

# > 百度系广告SDK
^https?:\/\/mobads\.baidu\.com url reject-200
^https?:\/\/mobads-logs\.baidu\.com url reject-200
^https?:\/\/wn\.pos\.baidu\.com url reject-200
^https?:\/\/duclick\.baidu\.com url reject-200

[mitm]
hostname = %APPEND% yike.baidu.com, mobads.baidu.com, mobads-logs.baidu.com, wn.pos.baidu.com
