#-----------------------------------------
# name: zlzppure
# desc: 智联招聘净化
# author: axkrr
#-----------------------------------------

[rewrite_local]
# > 开屏、推荐广告及弹窗
^https?:\/\/cgate\.zhaopin\.com\/(operation\/ad\/(bidMainPage|getAdRecommend)|bdp\/operation\/getPopupInfo) url script-response-body https://raw.githubusercontent.com/axkrr/slqhub-entry/main/zlzppure.js

# > 解决SDK无限重试
^https?:\/\/.*\.pangolin-sdk-toutiao\d*\.com url reject-200
^https?:\/\/.*\.pglstatp-toutiao\.com url reject-200
^https?:\/\/gromore\.pangolin-sdk-toutiao\.com url reject-200

[mitm]
hostname = %APPEND% cgate.zhaopin.com, *.pangolin-sdk-toutiao*.com, *.pglstatp-toutiao.com
