#-----------------------------------------
# name: ipainstaller
# desc: 拦截指定URL并返回用于安装IPA的Plist
# author: githubdulong
#-----------------------------------------

[rewrite]
# 拦截并伪造安装配置响应
^https:\/\/xiaobai\.app url script-echo-response https://raw.githubusercontent.com/githubdulong/Script/master/installapp.js

[mitm]
hostname = %APPEND% xiaobai.app
