#-----------------------------------------
# name: kuwo
# desc: 酷我音乐SVIP
# author: 𝐎𝐍𝐙𝟑𝐕
#-----------------------------------------

[rewrite]
^https?:\/\/mobilead\.kuwo\.cn\/EcomResourceServer\/(getIOSIsHideAd|getMotor)\.do url script-response-body - script="var body='{}';$done({body});"
^https?:\/\/rich\.kuwo\.cn\/(AdService|ecom)\/kaiping\/ad[iI]nfo url script-response-body - script="var body='{}';$done({body});"
^https?:\/\/wapi\.kuwo\.cn\/openapi\/v1\/user\/adVip\/info url script-response-body - script="var body='{}';$done({body});"
^https?:\/\/wapi\.kuwo\.cn\/openapi\/v1\/operate(\/(adVip|freeMode\/h5))?\/text url script-response-body - script="var body='{}';$done({body});"
^https?:\/\/ad\.tencentmusic\.com\/config\/uni url script-response-body - script="var body=' ';$done({body});"
^https?:\/\/abt-kuwo\.tencentmusic\.com\/kuwo\/ui\/info url script-response-body - script="var body='{}';$done({body});"

^https?:\/\/vip1\.kuwo\.cn\/vip\/enc\/user\/vip url script-response-body https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/kuwo.js
^https?:\/\/music(pay)?\.kuwo\.cn\/music\.pay\?newver=3 url script-request-body https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/kuwo.js
^https?:\/\/.+\.kuwo\.cn\/mobi\.s\?f=kwxs&q= url script-response-body https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/kuwo.js
^https?:\/\/tingshu\.kuwo\.cn\/api\/v2\/pay\/app\/getConfigInfo url script-response-body https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/kuwo.js
^https?:\/\/tingshu\.kuwo\.cn\/v2\/api\/pay\/payInfo\/kwplayer\/payMiniBar url script-response-body https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/kuwo.js
^https?:\/\/audiobookpay\.kuwo\.cn\/a\.p\?simpleToken=1 url script-request-body https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/kuwo.js
^https?:\/\/audiobookpay\.kuwo\.cn\/a\.p\?newver=3 url script-response-body https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/kuwo.js
^https?:\/\/vip1\.kuwo\.cn\/(commercia\/)?vip\/(v2\/theme\?op=gd|(player\/getStyleListByModel|hanger\/wear)) url script-response-body https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/kuwo.js
^https?:\/\/vip1\.kuwo\.cn\/vip\/v2\/user\/vip url script-response-body https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/kuwo.js
^https?:\/\/vip1\.kuwo\.cn\/commercia\/vip\/dressCenter\/getTabList url script-response-body https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/kuwo.js
^https?:\/\/vip1\.kuwo\.cn\/commercia\/vipTab\/myTab\/base url script-response-body https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/kuwo.js
^https?:\/\/vip1\.kuwo\.cn\/commercia\/userAssets\/downloadCoupon\/reduce url script-response-body https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/kuwo.js
^https?:\/\/homepages\.kuwo\.cn(\.eo\.dnse1\.com)?\/mgxh\.s url script-response-body https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/kuwo.js

[mitm]
hostname = %APPEND% *.kuwo.cn
