#-----------------------------------------
# name: senplayervideosniff
# desc: 网页视频流跳转SenPlayer播放
# author: axkrr
#-----------------------------------------

[rewrite]
^https?:\/\/.*\.m3u8(\?.*)?$ url script-response-body https://raw.githubusercontent.com/axkrr/slqhub-entry/main/videosniff.js
^https?:\/\/.*\.mp4(\?.*)?$  url script-response-body https://raw.githubusercontent.com/axkrr/slqhub-entry/main/videosniff.js

[mitm]
hostname = %APPEND% *.phncdn.com, *.cloudfront.net, www.pornhub.com, cn.pornhub.com, txh066.com, txh067.com, p3.unpljks.top, long.ctttfk.cn, surrit.com