#-----------------------------------------
# name: wyy
# desc: 网易云音乐SVIP
# author: axkrr,暗夜
#-----------------------------------------

[filter_local]
# > 广告域名拦截
host, iadmat.nosdn.127.net, reject
host, iadmatapk.nosdn.127.net, reject
host, iadmusicmat.music.126.net, reject
host, iadmusicmatvideo.music.126.net, reject
host, ipv4.music.163.com, reject
host, ipv6.music.163.com, reject

[rewrite]
# > 广告请求拦截
^https?://interface.*\.music\.163\.com/eapi/ad/get url reject
^https?://interface.*\.music\.163\.com/eapi/ad/config/get url reject
^https?://interface.*\.music\.163\.com/eapi/ad/iyunIds url reject
^https?://interface.*\.music\.163\.com/eapi/ad/prefetch/select url reject
^https?://interface.*\.music\.163\.com/eapi/ad/loading/current url reject

# > 净化与精简
# 返回 {} JSON
^https?:\/\/interface\d?\.music\.163\.com\/eapi\/(?:delivery\/(batch-)?deliver|moment\/tab\/info\/|side-bar\/mini-program\/music-service\/account|yunbei\/account\/entrance\/) url reject-dict

^https?:\/\/interface\d?\.music\.163\.com\/eapi\/(?:community\/friends\/fans-group\/artist\/group\/|mine\/applet\/redpoint|music\/songshare\/text\/recommend\/|resniche\/position\/play\/new\/|resniche\/tspopup\/show|resource\/comments?\/musiciansaid\/|user\/sub\/artist) url reject-dict

^https?:\/\/interface\d?\.music\.163\.com\/eapi\/(?:ios\/version|mlivestream\/entrance\/playpage\/|link\/position\/show\/strategy|link\/scene\/show\/resource|v1\/content\/exposure\/comment\/banner\/) url reject-dict

^https?:\/\/interface\d?\.music\.163\.com\/w?eapi\/(?:activity\/bonus\/playpage\/time\/query|resource-exposure\/|search\/(?:chart\/|rcmd\/keyword\/|specialkeyword\/)) url reject-dict

^https:\/\/interface\d\.music\.163\.com\/eapi\/my\/podcast\/tab\/recommend url reject-dict

# > 净化与精简
# 返回空文本
^https?:\/\/interface\d?\.music\.163\.com\/e?api\/(ocpc\/)?ad\/ url reject-200
^https?:\/\/interface\d?\.music\.163.com\/w?e?api\/search\/default url reject-200

# > 功能脚本
# 皮肤
^https?:\/\/interface\d?\.music\.163\.com\/eapi\/playermode\/ url script-request-header https://he2o.vercel.app/Resource/-Rewrite/anyehttp/wyy-s.js

# 歌曲、听书相关接口
^https?:\/\/interface\d?\.music\.163\.com\/eapi\/search\/(?:complex\/page|complex\/rec\/song\/get|song\/list\/page) url script-request-header https://he2o.vercel.app/Resource/-Rewrite/anyehttp/wyy-s.js
^https?:\/\/interface\d?\.music\.163\.com\/eapi\/v3\/song\/detail url script-request-header https://he2o.vercel.app/Resource/-Rewrite/anyehttp/wyy-s.js
^https?:\/\/interface\d?\.music\.163\.com\/eapi\/song\/(?:chorus|enhance\/|play\/|type\/detail\/get) url script-request-header https://he2o.vercel.app/Resource/-Rewrite/anyehttp/wyy-s.js
^https?:\/\/interface\d?\.music\.163\.com\/eapi\/(?:v1\/artist\/top\/song|v3\/discovery\/recommend\/songs) url script-request-header https://he2o.vercel.app/Resource/-Rewrite/anyehttp/wyy-s.js

# 等级
^https?:\/\/interface\d?\.music\.163\.com\/eapi\/vipnewcenter\/app\/resource\/newaccountpage url script-request-header https://he2o.vercel.app/Resource/-Rewrite/anyehttp/wyy-s.js

# 首页歌单
^https?:\/\/interface\d?\.music\.163\.com\/w?e?api\/(homepage\/|v6\/)?playlist\/(?!(?:delete|subscribe|unsubscribe)) url script-request-header https://he2o.vercel.app/Resource/-Rewrite/anyehttp/wyy-s.js

# 音质
^https?:\/\/interface\d?\.music\.163\.com\/eapi\/vipauth\/app\/auth\/(soundquality\/)?query url script-request-header https://he2o.vercel.app/Resource/-Rewrite/anyehttp/wyy-s.js

[mitm]
hostname = %APPEND% interface*.music.163.com, music.163.com
