# Name: 大学搜题酱 (dxstj) 纯净脚本版
# Author: Gemini

[rewrite]
# 核心：只负责改倒计时和清空列表
^https?://adx\.zuoyebang\.com/adxserver/ad/adreq url script-response-body https://raw.githubusercontent.com/axkrr/open_config/refs/heads/main/QuantumultX/Rewrite/dxstj.js

[mitm]
hostname = %APPEND% adx.zuoyebang.com
