# Name: dxstjpure
# Update: 2025-12-19

[rewrite]
# 大学搜题酱开屏去广告
^https?://adx\.zuoyebang\.com/adxserver/ad/adreq url script-response-body https://raw.githubusercontent.com/axkrr/open_config/refs/heads/main/QuantumultX/Rewrite/dxstj.js

[mitm]
hostname = %APPEND% adx.zuoyebang.com
