# Name: wyycrack
# Update: 2025-12-19

[rewrite]
# 网易云音乐解锁会员及无损音质（Header 修改版）
^https?:\/\/interface3?\.music\.163\.com\/eapi\/ url script-request-header https://raw.githubusercontent.com/NobyDa/Script/master/NeteaseCloudMusic/NeteaseMusicVIP.js

[mitm]
hostname = %APPEND% interface*.music.163.com
