# Name: wyycrack
# Update: 2025-12-19

[rewrite]
# 网易云会员 header 修改（通过拦截 eapi 核心接口实现全功能解锁）
^https?:\/\/interface3?\.music\.163\.com\/eapi\/ url script-request-header https://raw.githubusercontent.com/anyehttp/quantumult-x/main/scripts/wyy.js

[mitm]
hostname = %APPEND% interface*.music.163.com
