# Name: wyycrack
# Update: 2025-12-19

[rewrite]
# 网易云会员重写 (已移除 404 失效脚本，换用稳定版)
^https?:\/\/interface3?\.music\.163\.com\/eapi\/ url script-request-header https://raw.githubusercontent.com/NobyDa/Script/master/NeteaseCloudMusic/NeteaseMusicVIP.js

[mitm]
hostname = %APPEND% interface*.music.163.com
