#-----------------------------------------
# name: IPATool
# desc: AppStore低版本应用/下架应用安装
# author: githubdulong
#-----------------------------------------

[rewrite]
^https:\/\/apple-api\.com url script-request-body https://raw.githubusercontent.com/githubdulong/Script/master/AppleStoreAPI.js

^https:\/\/xiaobai\.app url script-echo-response https://raw.githubusercontent.com/axkrr/slqhub/main/js/installapp.js

[mitm]
hostname = %APPEND% apple-api.com, xiaobai.app
