#-----------------------------------------
# name: hlzhpure
# desc: 航旅纵横广告净化
# author: axkrr
#-----------------------------------------

[rewrite]
^https?:\/\/.*\.umetrip\.com\/gateway\/api\/umetrip\/advert url script-response-body https://raw.githubusercontent.com/axkrr/slqhub/main/js/hlzh.js

^https?:\/\/(oss|static)\.umetrip\.com\/fs\/advert\/ url reject-200

[mitm]
hostname = %APPEND% *.umetrip.com, analytics.umetrip.com
